@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    /* font-family: "Raleway", sans-serif; */
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* Custom Css */
:root {
    --main-color: #FEA301;
    --second-color: #01ACFD;
    --third-color: #05D4DF;
    --fourth-color: #5D58EF;
}

.orange {
    color: var(--main-color);
}
.sky-blue {
    color: var(--second-color);
}
.light-blue {
    color: var(--third-color);
}
.purple {
    color: var(--fourth-color);
}

/* common css */

/* header section */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;

}
.logo {
    display: flex;
    align-items: center;
}
.logo .brand-name {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
    text-transform: uppercase;
}
.mainmenu {
    display: flex;
    list-style: none;
}
.mainmenu li {
    margin-left: 40px;
}
.mainmenu li a {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 700;
}

.btn {
    padding: 10px 40px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 700;
}

/* .menu-right {
    display: flex;
    align-items: center;
} */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.hero-content {
    width: 50%;
}
.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 20px;
}


/* Curriculam section */
.section-title {
    text-align: center;
    margin: 60px 0 80px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}

.curriculum-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.curriculum-box {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(1,172,253);
    background: linear-gradient(180deg, rgba(1,172,253,1) 0%, rgba(222,245,255,0.01) 100%);
    /* height: 476px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.curriculum-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}	
.curriculum-box-2 {
    background: rgb(255,244,220);
    background: linear-gradient(180deg, rgba(255,244,220,1) 0%, rgba(255,244,220,0) 100%);
}
.curriculum-box-3 {
    background: rgb(242,232,255);
    background: linear-gradient(180deg, rgba(242,232,255,1) 0%, rgba(242,232,255,0) 100%);
}


.curriculum-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}
.curriculum-box p {
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
    font-family: "Raleway", sans-serif;
}
.curriculum-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}


.curriculum-box .read-more {
    display: inline-block;
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 20px;   
}
.curriculum-box .curr-btn-2 {
    color: var(--main-color);
}
.curriculum-box .curr-btn-3 {
    color: var(--fourth-color);
}

.arrow-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 80px 0;

}
.arrow-box i {
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--main-color);
    transition: all 0.3s ease;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.curriculum-box:hover .arrow-box {
    opacity: 1;
}


/* Media Queries */

/* For Mobile */
@media screen and (max-width: 600px) {
    body {
        max-width: 600px;
    }
    .logo .brand-name {
        display: none;
    }
    .mainmenu {
        display: none;
    }
    .menu-btn {
        display: none;
    }
    .menu-icon {
        display: block;
    }
   
    .hero {
        flex-direction: column-reverse;
    }
    .hero-img img {
        width: 100%;
        margin-bottom: 20px;
    }
    .hero-content {
        width: 100%;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
    header nav {
        position: relative;
        border-bottom: 1px solid var(--main-color);
        width: 100%;
        padding: 10px 0;
        margin: 0 auto;
    }

    /* curriculum section  */
    .curriculum-content {
        flex-direction: column;
    }
    .curriculum-box {
        width: 100%;
        margin-bottom: 20px;
    }
    .curriculum-box h2 {
        font-size: 1.25rem;
    }
    .curriculum-box p {
        font-size: 0.9rem;
    }
    .curriculum-box img {
        width: 80px;
        height: 80px;
    }
    .curriculum-box .read-more {
        font-size: 0.9rem;
    }
    .arrow-box {
        display: none;
    }

    
}

