@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* Custom Css */
:root {
    --main-color: #FEA301;
    --second-color: #01ACFD;
    --third-color: #05D4DF;
    --fourth-color: #5D58EF;
}

.orange {
    color: var(--main-color);
}
.sky-blue {
    color: var(--second-color);
}
.light-blue {
    color: var(--third-color);
}
.purple {
    color: var(--fourth-color);
}

/* common css */

/* header section */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;

}
.logo {
    display: flex;
    align-items: center;
}
.logo .brand-name {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
    text-transform: uppercase;
}
.mainmenu {
    display: flex;
    list-style: none;
}
.mainmenu li {
    margin-left: 40px;
}
.mainmenu li a {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 700;
}

.btn {
    padding: 10px 40px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 700;
}

/* .menu-right {
    display: flex;
    align-items: center;
} */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.hero-content {
    width: 50%;
}
.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 20px;
}



/* Media Queries */

/* For Mobile */
@media screen and (max-width: 600px) {
    body {
        max-width: 600px;
    }
    .logo .brand-name {
        display: none;
    }
    .mainmenu {
        display: none;
    }
    .menu-btn {
        display: none;
    }
    .menu-icon {
        display: block;
    }
   
    .hero {
        flex-direction: column-reverse;
    }
    .hero-img img {
        width: 100%;
        margin-bottom: 20px;
    }
    .hero-content {
        width: 100%;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
    header nav {
        position: relative;
        border-bottom: 1px solid var(--main-color);
        width: 100%;
        padding: 10px 0;
        margin: 0 auto;
    }
    
}

